PORT=3000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=applabagent
DB_PASSWORD=your_password
DB_PORT=5432

JWT_SECRET=your_jwt_secret_key
RAPID_API_KEY=ecfb0fecb7msh75bcf3d637121c8p159185jsn9cfa4b7d0fb2

# API Limits
FREE_TIER_LIMIT=100
BASIC_TIER_LIMIT=1000
PRO_TIER_LIMIT=10000